body {
font-family: 'Arial', sans-serif;
margin: 20px;


header {
background-color: blue;
color:blue
text-align: center;
padding: 10px;
}

main {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #2100f7;
}
